@import "../../utils/variables";
@import "../../utils/scrollbar";
@import "../../utils/popover";
@import "../../utils/unselectable";

.sidebar {
  display: flex;
  gap: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: none;
}

$sidebar_width: 370px;
.sidebar__content {
  box-sizing: border-box;
  height: 100vh;
  min-width: $sidebar_width;
  padding: $gap;
  background: $hback;
  grow: 0;
  shrink: 0;

  display: flex;
  flex-direction: column;
  gap: $gap;
}

.sidebar__main {
  @include scrollbar;
  overflow-y: scroll;

  height: 100vh;
  flex-grow: 1;
}

.sidebar__profile {
  display: flex;
  gap: $gap;
  align-items: center;

  h3 h2 h1 p {
    height: fit-content;
  }

  .sidebar__profile__cog {
    height: 50px;
    margin-left: auto;
    // justify-self: flex-end;
  }
}

.sidebar__separator {
  border: $back solid 2.5px;
  margin: 0 0;
}

.sidebar__playing {
  @include scrollbar;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: $gap;
  margin-top: 60px;
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
}

.track {
  display: flex;
  align-items: center;
}

.track__thumbnail {
  height: 70px;
  aspect-ratio: 1/1;
}

.track__texts {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  h1,
  h2,
  h3,
  p {
    margin: $gap;
    text-align: start;
  }
}

.track__start-end {
  height: 30px;
  width: 30px;
  margin-right: $gap;
  margin-left: $gap;

  border: 0;
  border-radius: 0;
  background: 0;
  padding: 0;

  img {
    height: 100%;
    width: 100%;
  }
}

.track__volume {
  @include popover($y_offset: 5px);

  position: relative;

  display: flex;
  align-items: center;

  height: 30px;
  width: 30px;
  margin-left: auto;

  img {
    height: 30px;
    width: 30px;
  }

  .popover {
    @include popover;
    height: 30px;
  }
}

.song-duration {
  position: relative;

  display: flex;
  align-items: center;
  gap: 20px;
}

.song-duration__time-control {
  @include popover;

  height: 100%;
  position: relative;
  flex-grow: 1;

  display: flex;
  align-items: center;
}

// TODO: move this
input[type="range"] {
  flex-grow: 1;
  -webkit-appearance: none;
  height: 3px;
  margin: 0;
  flex-grow: 1;
  background: $fore;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $fore;
  border: 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
input[type="range"]:hover::-webkit-slider-thumb {
  cursor: ew-resize;
  background: $hfore;
}

input[type="range"]::-moz-range-thumb {
  cursor: ew-resize;
  background-color: $fore;
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
}

input[type="range"]:hover::-moz-range-thumb {
  background: $hfore;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
}

.song-duration__total {
  margin-left: auto;
  margin-right: $gap;
}
