@use "sass:math";

@import "../../utils/variables";
@import "../../utils/text";
@import "../../utils/scrollbar";

.home {
  background: $back;

  box-sizing: border-box;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 25px;
}

.home__block {
  background: $hback;
  border-radius: $border-radius;

  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.trending {
  @include scrollbar;

  display: flex;
  gap: $gap;
  overflow-x: scroll;
  * {
    flex-shrink: 0;
  }
}

.trending__panel {
  @extend .home__block;
  width: 240px;
  min-height: 300px;

  display: flex;
  gap: $gap;
  flex-direction: column;
}

.trending__genre {
}

.trending__genre_silenced {
  color: $hfore;
}

.trending__toggle-playlists {
  @extend p;
  margin-top: auto;
  width: 100%;
  height: 40px;
  border-radius: $border-radius;
  border: 0;
  background: $agradient;
}

.album {
  @extend .home__block;
  width: 240px;
  background: $gradient;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.sound-visualization {
  @extend .home__block;
  display: flex;
  flex-direction: column;
}

$block_height: 30px;
$block_count: 10;
.sound-visualization__blocks {
  flex-grow: 1;
  height: 350px;
  svg {
    max-height: 0;
  }

  // mask {
  //   width: 100%;
  //   height: 100%;
  //   display: grid;
  //   gap: $gap;
  //   align-content: center;
  //   grid-template-rows: repeat($block_count, 1fr);
  //   grid-auto-columns: math.div(100% - 11%, $block_count);
  //   grid-auto-flow: column;
  //   div.active {
  //     background: #ffff;
  //     width: 100%;
  //     height: $block_height;
  //   }
  //   mask > div {
  //     background: #fff0;
  //     width: 100%;
  //     height: $block_height;
  //   }
  // }

  mask-image: url("#block-mask");
  background: linear-gradient(0deg, #2cee4b, #14647f);
}
