@import "../../utils/variables";
@import "../../utils/text";

.search {
    position: relative;
}

.search__input {
    @extend p;

    color: $fore;
    width: 100%;
    height: 40px;
    border-radius: $border-radius;
    border: 0;
    background: $agradient;
    position: absolute;
    padding: 0 $gap;
}

.search__input::placeholder {
    @extend p;

    color: $hfore;
}

.search__icon {
    position: absolute;
    right: 0;
    margin: 5px;
    height: 30px;
}
