@import "./variables";

// must be in div wrapper or smth with popover contents
@mixin popover($foreground-color: $fore, $background-color: $back, $y_offset: 0) {
  & > .popover {
    display: none;
    visibility: hidden;
  }

  &:hover > .popover {
    visibility: visible;
    overflow: visible;

    box-sizing: border-box;
    padding: 5px;

    position: absolute;
    bottom: 100%;
    transform: translate(-50%, -2.5px + $y_offset);
    z-index: 10;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: $border-radius;

    display: flex;
    justify-items: center;
    align-items: center;

    background: $background-color;
  }
}
