@import "./variables";

@mixin scrollbar(
  $size: 6px,
  $foreground-color: $hfore,
  $background-color: #0000
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    color: #0000;
    display: none;
    visibility: hidden;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}
