@import "variables";

%text {
  font-family: $font, sans-serif;
  color: $fore;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  @extend %text;
  font-size: 48px;
}
h2 {
  @extend %text;
  font-size: 32px;
}
h3 {
  @extend %text;
  font-size: 24px;
}
p {
  @extend %text;
  font-size: 18px;
}
