$font: "Karla";
$hback: #1C2321;
$back: #2B373B;
$hfore: #9F99AD;
$fore: #D9DBF1;
$border-radius: 10px;
$gradient: linear-gradient(to bottom right, #0C7A9D, #14647F);
$agradient: linear-gradient(to bottom right, #1E4261, #172D44);
$gap: 10px;
